body {
	font-family: 'Open Sans', sans-serif;
	margin: auto;
	line-height: 1.6;
	color: #333;
}

p  {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}
main {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	margin-bottom: 80px;
}
.sketch {
	display: block;
	position: relative;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;

	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(0, 0, 0, 0.2);
	border-radius: 5px;
	/* background-color: white; */
}

.sketch-child {
	display: block;
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

#draw-zone {
	background-image: url("../img/heart.png");
}

.multi-container {
	margin: 0 20px;
}

/*.maths {
	font-size: 10vw;
}*/

.button {
	display: block;
	margin: auto;
	background-color: #e91e63;
	color: white;
	font-size: 20px;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: none;
	transition: transform 0.1s linear,
				background-color 0.1s linear;
}
.button:hover, .button:focus {
	background-color: #ed7656;
}
.button:focus {
	outline: 0;
}
.button:active {
	transform: scale(0.95);
}
.embedded-button {
	position: absolute;
	top: 0;
	right: 0;
}

.hidden {
	opacity: 0;
}

.multi-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-content: center;
}
/* Because flex box doesn't collapse margins, use much smaller ones */
.multi-container .sketch {
	margin: 10px;
}
.multi-container .sketch-mult {
	margin: 2vw;
}

input[type=range] {
	display: block;
	max-width: 500px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

